<div class="row">

  <div class="span6">
    <a class="btn btn-primary" href="#/posts/new">New Post</a>
    <br /><br />
  </div>

  <table class="posts span12 align-left">
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Published</th>
      <th>Comments</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
    <tr ng-repeat="post in posts | filter:query | orderBy:'-date'" class="post">
      <td>{{post.date | date:'MM/dd/yy'}}</td>
      <td><a href="#/posts/{{post.id}}">{{post.title}}</a></td>
      <td><span class="btn btn-mini" ng-click="togglePublished(post)">{{post.published | checkCross}}</span></td>
      <td><a class="btn btn-mini" ng-show="post.comments.length" href="#/posts/admin/{{post.id}}/comments">{{post.comments.length}} - manage</a></td>
      <td><a class="btn btn-mini" href="#/posts/edit/{{post.id}}">edit</a></td>
      <td><span class="btn btn-mini" ng-click="deletePost(post)" class="edit">delete</span></td>
    </tr>
  </table>

</div>